@import url(variable.css); 
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Cambay', sans-serif;
    font-weight: 500;
}
body {
    position: relative;
    transition: all ease-in 0.5s;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../storage/img/pngtree-sky-clouds-sunset-background-picture-image_2448573.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}
.header {
    display: none;
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header__logo {
    display: none;
    width: 100%;
    height: 40%;
    padding: 0px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header__logo a {
    text-decoration: none;
    font-size: 2em;
}
.header__list {
    display: none;
    display: none;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
.list__productos {
    list-style-type: none;
    width: 96%;
    gap: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-between;
}
.list__productos li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.main {
    padding: 10px;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.main__container {
    width: 95%;
    height: 98%;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-image: url(../storage/img/flat-world-post-day-background_23-2149084334.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container__images {
    width: 60%;
    height: 100%;
    display: flex;
}
.container__text {
    width: 40%;
    height: 100%;
}
.text__details {
    padding: 15px;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap:0px;
}
.details__title {
    font-size: 3.5em;
}
.details__list {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-between; 
}
.details__list li {
    font-size: 3em;

}
.detailes__text {
    width: 90%;
    font-size: 1.5em;
}
.text__button {
    padding: 15px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.button__price {
    font-size: 3em;

}
.button__boton {
    width: 40%;
    padding: 20px 10px;
    font-size: 1.3em;
    text-transform: capitalize;
    border-radius: 7px;
    cursor: pointer;
    
}
.list__images {
    width: 30%;
    height: 100%;
}
.images__list {
    height: 100%;
    gap: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.images__list li {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
}
.images__list li img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.big__images {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big__image-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
}
.big__image-container {
    width: 95%;
    height: 100%;
}
.big__image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.agregar {
    width: 45%;
    height: 95%;
    background: pink;
    position: absolute;
    z-index: 5;
    margin-top: 2%;
    margin-left: 25%;
}
.agregar__imagen {
    width: 100%;
    height: 50%;
    padding: 20px;
}
.agregar__parte1 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
}
.agregar__parte1 a {
    font-size: 3em;
}
.agregar__parte2 {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregar__details {
    width: 100%;
    height: 50%;
    padding: 20px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.agregar__details-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.agregar__details-title {
    font-size: 2em;
}
.agregar_-details-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 2em;
    gap: 25px;
}
.agregar__details--text {
    width: 80%;
    font-size: 1em;
}
.agregar__details-price {
    font-size: 1.5em;
}
.agregar__contenedor-imagen {
    position: relative;
    width: 90%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregar__contenedor-imagen img {
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.agregar__details-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.agregar__details-boton {
    width: 40%;
    padding: 20px 10px;
    font-size: 1.3em;
    text-transform: capitalize;
    border-radius: 7px;
    cursor: pointer;
}
.list__productos::-webkit-scrollbar {
    width: 12px;
}

.list__productosp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to top, #f3f77d, #f5ec69, #f8e055, #fbd441, #ffc72d);

}

.main::-webkit-scrollbar {
    width: 12px;
}

.mainp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to top, #f3f77d, #f5ec69, #f8e055, #fbd441, #ffc72d);

}